h1 {
    color : dodgerblue;
    text-align: center;
    text-decoration-color: darkblue;
    text-decoration-line: underline;
}

#damier {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

#damier div {
    display: none;
    width: 50px;
    height: 50px;
}

.p {
    background: darkblue;
}

.i {
    background: dodgerblue;
}