h1 {
    color : saddlebrown;
    text-align: center;
}

button {
    background: saddlebrown;
    color: beige;
}

#damier {
    display: none;
    flex-wrap: wrap;
    margin : auto;
    border: solid saddlebrown 10px;
}

#damier div {
    display: none;
    height: 50px;
    width: 50px;
}

.p {
    background: saddlebrown;

}

.i {
    background: beige;
}
